spring:
  application:
    name: task-service
  profiles:
    active: docker

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: ${DTH_JWT_SECRET}
  accessTokenExpiryMs: 900000       # 15 minutes
  refreshTokenExpiryMs: 604800000   # 7 days

logging:
  level:
    root: INFO
    com.deeptechhub.taskservice: DEBUG
  file:
    name: logs/task-service.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

identity-service:
  url: ${IDENTITY_SERVICE_URL:http://localhost:8081}

# Feign specific config
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

